auto-save-list/
elpa/
eshell/
.cache/
transient/
server/
url/

.last-package-update-day
projectile-bookmarks.eld
ac-comphist.dat
forge-database.sqlite
ido.last
tramp

**/.DS_Store
*.elc
/recentf
/README.el
